<body>
	<div id="main-container" class="container">
		<div class="row">
			<div id="sidebar" class="col-md-4">
				<div>
					<a class="btn btn-primary btn-lg" href="../options/chargebee" role="button">Chargebee</a>
				</div>
			</div>
			<div id="content" class="col-md-4">
				<div>
					<a class="btn btn-primary btn-lg" href="../options/chargify" role="button">Chargify</a>
				</div>
			</div>
		</div>
		<div class="row">
			<div id="sidebar" class="col-md-4">
				<div>
					<a class="btn btn-primary btn-lg" href="../options/recurly" role="button">Recurly</a>
				</div>
			</div>
			<div id="content" class="col-md-4">
				<div>
					<a class="btn btn-primary btn-lg" href="../options/braintree" role="button">Braintree</a>
				</div>
			</div>
			<div id="content" class="col-md-4">
				<div>
					<a class="btn btn-primary btn-lg" href="../options/stripe" role="button">Stripe (Private beta)</a>
				</div>
			</div>
		</div>
	</div>
</body>



Comparison table