<h1>What's wrong with Paypal?</h1>
<ul class="list-group">
  <li class="list-group-item">Subscription is by branch</li>
  <li class="list-group-item">It does not support tier pricing or add ons</li>
  <li class="list-group-item">Disjoint customer experience</li>
  <li class="list-group-item">Additional cost for our customers to sign up with payapl</li>   
</ul>

<p><a class="btn btn-primary btn-lg" href="requirements" role="button">What do we need?</a></p>

