<h1>What do we need?</h1>
<ul class="list-group">
  <li class="list-group-item">Payment Gateway</li>
  <li class="list-group-item">Merchant Account</li>
  <li class="list-group-item">Recurring Billing Service</li>  
</ul>


<h1>Criteria for Choosing</h1>
Our concerns
<ul class="list-group">
  <li class="list-group-item">Payment gateway support in Singapore</li>
  <li class="list-group-item">Support tier pricing and add ons</li>
  <li class="list-group-item">Allows multiple branches per account</li>
  <li class="list-group-item">Support Paypal (for existing customers)</li>  
</ul>
General concerns
<ul class="list-group">
  <li class="list-group-item">Credit card data portability</li>
  <li class="list-group-item">Reporting</li>
  <li class="list-group-item">Invoicing</li>
  <li class="list-group-item">Multi-currency</li>
  <li class="list-group-item">Support</li>
  <li class="list-group-item">Customer exprienceHosted Payment Pages or API?</li>
  <li class="list-group-item">Ease of integration: SDK and API, well documented</li>
  <li class="list-group-item">PRICE!</li>
</ul>
<small><a href="www.quora.com/Which-is-better-Chargify-Recurly-ChargeBee-or-Spreedly">source</a></small>

<p><a class="btn btn-primary btn-lg" href="options" role="button">Let's pick!</a></p>