<div class="jumbotron">
  <h1>Subscription Billing</h1>
  <p>platforms allow us to charge our customers a recurring fee without the liability of storing our customers credit card information</p>
  <p><a class="btn btn-primary btn-lg" href="paypal" role="button">Paypal?</a></p>
</div>