
<div class="container">
  <h1>Chargify</h1>  
  <div class="row">
    <div class="col-md-4" style="background-color:lavender;">
      <h2>Basic</h2>
      <h1>$30</h1>
      <p>1000 transaction lines</p>
      <p>Inventory</p>
      <p>Email Invoice</p>      
      <p><a class="btn btn-primary btn-lg" href="https://imonggo.chargify.com/subscribe/649ddn6887r3/basic" role="button">Sign up</a></p>
    </div>
    <div class="col-md-4" style="background-color:lavenderblush;">
      <h2>Premium</h2>
      <h1>$60</h1>
      <p>Basic plus...</p>
      <p>Customer reward module</p>
      <p>Classification using tags</p>
      <p><a class="btn btn-primary btn-lg" href="https://imonggo.chargify.com/subscribe/z2r5qd6872zs/growing-business" role="button">Sign up</a></p>
    </div>
    <div class="col-md-4" style="background-color:#77DD77;">
      <h2>Basic (API)</h2>
      <h1>$30</h1>
      <p>Premium plus...</p>
      <p>Requires advanced tech support</p>
      <p>Classification using tags</p>
      <p><a class="btn btn-primary btn-lg" href="http://localhost:9292/" role="button">Sign up</a></p>
    </div>   
  </div>
</div>
