
<div class="container">
  <h1>World Pay</h1>  
  <div class="row">
    <div class="col-md-4" style="background-color:#f5a430;">
      <h2>Basic</h2>
      <h1>$30/month</h1>
      <p>1000 transaction lines</p>
      <p>Classification using tags</p>
      <p>Email Invoice</p>      
      <p><a class="btn btn-primary btn-lg" href="worldpay_form" role="button">Sign up</a></p>
    </div>
    <div class="col-md-4" style="background-color:#f58330;">
      <h2>Professional</h2>
      <h1>$29/month</h1>
      <p>Basic plus...</p>
      <p>Unlimited Transaction Lines</p>
      <p>Customer Loyalty</p>
      <p><a class="btn btn-primary btn-lg" href="worldpay_form" role="button">Sign up</a></p>
    </div>
  </div>
</div>

<a class="btn btn-primary btn-lg" href="https://online.worldpay.com/login" role="button">Admin Page</a>

